  <div class="al"></div>
  <div class="container">
   <div class="header">Sign In</div>
   <div class='info'>
      <label style="font-style:oblique;font-size:15px">Username:</label>&nbsp;&nbsp;
      <input value="" (input)="username = $event.target.value"> 
      <p>{{username}}</p>
      <br/>
      <label style="font-style:oblique;font-size:15px">Password:</label>&nbsp;&nbsp;
      <input type="password" value="" (input)="Password = $event.target.value">
      <p>{{Password}}</p>
  </div>
   <button>Sign In</button>
   <svg width="390" height="549" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  </svg>
  </div>
  